@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;

    --primary: 124 58 237;
    --primary-foreground: 255 255 255;

    --secondary: 221 214 254;
    --secondary-foreground: 124 58 237;

    --destructive: 255 50 50;
    --destructive-foreground: 255 255 255;

    --accent: 237 233 254;
    --accent-foreground: 124 58 237;

    --muted: 230 230 230;
    --muted-foreground: 140 140 140;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 255 255 255;
    --popover-foreground: 20 20 20;

    --border: 0 0 0 / 0.2;
    --input: 0 0 0 / 0.1;
    --ring: 139 92 246;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 20 20;
    --foreground: 255 255 255;

    --primary: 129 55 255;
    --primary-foreground: 255 255 255;

    --secondary: 32 32 32;
    --secondary-foreground: 124 58 237;

    --destructive: 255 100 100;
    --destructive-foreground: 255 255 255;

    --accent: 12 11 19;
    --accent-foreground: 189 150 255;

    --muted: 40 40 40;
    --muted-foreground: 130 130 130;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 40 40 40;
    --popover-foreground: 240 240 240;

    --border: 255 255 255 / 0.2;
    --input: 255 255 255 / 0.1;
    --ring: 139 92 246;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  min-height: 100svh !important;
  height: 100svh;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* #root {
  height: 100%;
} */
